<ion-header>
    <ion-card class="text-card">
  <ion-toolbar>
    <ion-title>
      Spesifikasi Rumah
    </ion-title>
  </ion-toolbar>
</ion-card>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/rumah2.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Rumah Tipe A<br><br> 
          Rp. 35.000.000 per Tahun<br><br>
          -3 Kamar Tidur<br>
          -2 Kamar Mandi<br>
          -2 Ruang Tamu<br>
          -1 Dapur</ion-card-title>
      </ion-card-header>
    </ion-card>



    <ion-card class="welcome-card">
      <ion-img src="/assets/rumah3.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Rumah Tipe B<br><br> 
            Rp. 40.000.000 per Tahun<br><br> 
            -3 Kamar Tidur<br>
            -2 Kamar Mandi<br>
            -2 Ruang Tamu<br>
            -1 Dapur<br>
            -1 Garasi</ion-card-title>
      </ion-card-header>
    </ion-card>



    <ion-card class="welcome-card">
      <ion-img src="/assets/rumah4.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Rumah Tipe C<br><br> 
            Rp. 30.000.000 per Tahun<br><br> 
            -2 Kamar Tidur<br>
            -2 Kamar Mandi<br>
            -1 Ruang Tamu<br>
            -1 Dapur</ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-content>
