<ion-header>
  <ion-toolbar>
    <ion-title>
      Rumah
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p> <b>Tipe Rumah 45</b></p>
  <ion-img src="/assets/a1.jpg"></ion-img>
  <p><b>Denah dan Detail Rumah</b></p>
  <ion-img src="/assets/drumah2.jpg"></ion-img>
  Keterangan  : <br>Ukuran Tanah  : 8 X 12
                <br>Kamar         : 2
                <br>Garasi        : 1
                <br>Ruang Tamu    : 1
                <br>Dapur         : 1
                <br>Kamar Mandi   : 2
                <br>Taman Kering  : 1
                <br>Luas Tanah    : 306 m² 
                <br>Luas Bangunan : 350 m²
  <br>Pemilik     : Bp. Robert
  <br>Alamat      : Brand New House Modern Minimalis 
  di Citrasun Garden Semarang, Bukit Sari, Semarang
  <br>No Hp/Telp  :081234567890

</ion-content>
