<ion-header>
  <ion-card class="text-card">
    <ion-toolbar>
      <ion-title>
        Kontrakan Baba Asyong
      </ion-title>
    </ion-toolbar>
  </ion-card>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
        <ion-img src="/assets/rumah1.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Selamat datang di Kontrakan Baba Asyong</ion-card-title>
        </ion-card-header>
      </ion-card>
  
    <ion-card class="welcome-card">
      <ion-card-content>
            Sejarah<br><br> 
            Kontrakan Baba Asyong Berdiri sejak tahun 1910 hingga sekarang dan diteruskan hingga 3 generasi , didirikan oleh Baba Asyong beserta istrinya. Yang kemudian diteruskan oleh anaknya yang bernama H. Romli, dan diteruskan anaknya lagi yang bernama Bang Alex hingga sekarang. 
            Dengan berjalannya waktu dari dulu yang kontrakannya masih sederhana, hingga sekarang setelah dikelola oleh Bang Alex menjadi kontrakan elite. Kontrakan Baba Asyong terkenal dengan fasilitasnya yang mewah dan layanan yang memadai. Dikarenakan Kontrakan Baba Asyong bekerjasama dengan Lippo Group, Dulux, No Drop, dan Rucika.     <br><br>
            Tentang<br><br>     
            Suasana yang nyaman, Lingkungan yang damai, Fasilitas yang memadai, serta tempatnya yang strategis membuat Kontrakan Baba Asyong banyak dicari orang-orang dari yang Perwira TNI, Pengusaha, Artis, hingga Anggota DPR. 
            Tarif ngontrak di Baba Asyong bisa dibayar perbulan maupun pertahun dengan varian harga mulai Rp.20.000.000-Rp.50.000.000 per tahunnya.  <br><br>
            Include:<br><br>    
            -Listrik <br>
            -Air <br>
            -Wifi <br>
            -Telepon Rumah<br> 
            -TV <br>
            -AC <br>
            -Kulkas <br>
            -Kasur <br>
            -Lemari <br>
            -Sofa <br>
            -Peralatan Dapur 
            
        
      </ion-card-content>
    </ion-card>
  </ion-content>
  