<ion-header>
  <ion-toolbar>
    <ion-title>
      Rumah Halal
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card-content>
  <p>  </p>
</ion-card-content>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/a.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title><h2><b>Welcome to Rumah Halal</b></h2></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
         <b><h1>Rumah halal adalah sebuah wadah atau perantara bagi masyarakat Indonesia yang berkeinginan
            membeli rumah tanpa jalur riba. Aplikasi ini menghubungkan antara 
            sang penjual dan pembeli agar bisa bertemu langsung dan melakukan transaksi yang sesuai 
            dengan syariat Islam, dan tentu tidak menggunakan bunga.</h1></b> 
        </p>
      </ion-card-content>
