<ion-header>
    <ion-card class="text-card">
  <ion-toolbar>
    <ion-title>
      Contact Person
    </ion-title>
  </ion-toolbar>
</ion-card>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Whatsapp : 082221299999<br><br>
          Instagram : kontrakan_baba_asyong<br><br>
          Facebook : Kontrakan Baba Asyong<br><br>
          Email : kontrakanbabaasyong.gmail.com 
      </ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-content>
